<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile Page</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="navigation">
                <a href="/mainhome">Home</a></div>
            <h1>Profile</h1>
        </div>
        <div class="content">
            <i class='bx bxs-user'></i>
            <p>Name: <%= name %></p>
            <p>Email: <%= email %></p>
            <p>Phone: <%= phone %></p>
            <p>Address: <%= address %></p>
            <p>City: <%=city%></p>
            <p>State: <%=state%></p>
            <p>Country: <%=country%></p>
            <p>Zip: <%=zipcode%></p>
        </div>
        <div class="footer">
            <p>&copy; 2025 Happi Residence. All Rights Reserved.</p>
        </div>
</body>
</html>